/* color de fondo y activa flexbox, coloca elementos y centrado de pagina*/
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction:column;
    align-items: center;
}
body{
     background-color: cadetblue;
}
.title {
    color: black;
}

/* Estilo a cuadro de texto y boton para que al pasar el mause se vea funionalidad*/

#input-group{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
input, button{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

button {
    background-color: lightsalmon;
    color: black;
    cursor: pointer;
}
button:hover {
    background-color: yellowgreen;
}
li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    padding: 5px;
    list-style: none; 
}
   
li button {
    margin-left: 10px;
    padding: 5px 10px;
    cursor: pointer;
}
    
li button:hover {
    background-color: darkred;
    }    
  
    ComprarBtn {
        background-color: verde;
        color: white;
        border: none; 
        padding: 10px 20px; 
        border-radius: 6px; 
        font-size: 16px; 
        cursor: pointer; 
        transition: background-color 0.3s ease, transform 0.2s ease;
    }

    comprarBtn:hover{
        background-color: #218838;
        transform: scale(1.05);
    }

    cancelarBtn {
        background-color: #dc3545;
        color: white;
        border: none; 
        padding: 10px 20px; 
        border-radius: 6px; 
        font-size: 16px; 
        cursor: pointer; 
        transition: background-color 0.3s ease, transform 0.2s ease;

    }

    cancelarBtn:hover {
        background-color: #c82333;
        transform: scale(1.05);

    }

    mensaje {
        margin-top: 10px;
        font-size: 20px;
        font-weight: bold;
    }
